<!-- <app-extra-pipe></app-extra-pipe> -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="drawer.toggle()">
        <mat-icon aria-hidden="false">view_headline</mat-icon>
    </button>
    <span>APP</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <div class="block-themes">
      <h5 class="title-sidenav" class="px-16">THEME</h5>
      <mat-nav-list>
        <mat-list-item *ngFor="let theme of listThemes">   
          <mat-icon>{{theme.icon}}</mat-icon>  
          <a>{{ theme.name }}</a>
        </mat-list-item>
      </mat-nav-list>
      <mat-divider></mat-divider>
    </div>
    <div class="block-categories px-16">
      <h5 class="title-sidenav">CATEGORIES</h5>
      <mat-form-field>
          <mat-select [formControl]="selectedCategory">
            <mat-option *ngFor="let category of listCategories" [value]="category.value">
              {{category.name}}
            </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
  </mat-drawer>
  <mat-drawer-content>
    <!-- <button type="button" mat-button (click)="drawer.toggle()">
      Toggle
    </button> -->
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>