<!-- <app-extra-pipe></app-extra-pipe> -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="drawer.toggle()">
        <mat-icon aria-hidden="false">view_headline</mat-icon>
    </button>
    <span>APP</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <div class="block-themes">
      <h5 class="title-sidenav">THEME</h5>
      <mat-nav-list>
        <mat-list-item *ngFor="let theme of listThemes">   
          <mat-icon>{{theme.icon}}</mat-icon>  
          <a matLine href="...">{{ theme.name }}</a> 
        </mat-list-item>
      </mat-nav-list>
    </div>
    <div class="block-categories">
      <h5 class="title-sidenav">CATEGORIES</h5>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <!-- <button type="button" mat-button (click)="drawer.toggle()">
      Toggle
    </button> -->
    <div fxLayout="row wrap">
      <div fxFlex="50">
        1
      </div>
      <div  fxFlex="50">
        2
      </div>
    </div>
  </mat-drawer-content>

</mat-drawer-container>